matplotlib>=3.2.2
numpy>=1.19.0
openpyxl>=3.0.4
pandas>=1.0.5
Pillow>=7.0.0
regex>=2020.6.8
seaborn>=0.10.1
nltk>=3.5
libgirepository1.0-dev 
libcairo2-dev 
pkg-config 
python3-dev 
gir1.2-gtk-3.0
PyGObject==3.36.1

